<section>
   <div  class="gray-bg dashbard-1" style="min-height: 616px;">
      <div class="row border-bottom">
         <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> Reload Graphs</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
               <li>
                  <span class="m-r-sm text-muted welcome-message">Welcome to Mitrais IoT Labs Dashboard.</span>
               </li>
               <li>
                  <a class="right-sidebar-toggle">
                  <i class="fa fa-tasks"></i>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
      <div class="ibox-tools">
         <center>
            <div ng-if="baliLoading" ladda="baliLoading"  data-spinner-size="60" data-spinner-color="#7b00e0" style="width: 132px;height: 132px;">
            </div>
            <div class="row" style=" float: none; margin: 0 auto; ">
               <div class="col-md-2">
                 <div ng-if="!baliLoading" style="margin-left: 20px;">
                    <md-switch ng-model="baliLightStatus" aria-label="Switch 1" ng-disabled="true">
                        <b>Light Status</b> 
                    </md-switch>
                 </div>
                  <div ng-if="!baliLoading" style="margin-left: 20px;">
                    <md-switch ng-model="baliLampStatus1" aria-label="Switch 1" 
                    ng-change="baliRelay1('devicebali','1')">
                        <b>Relay 1</b> 
                    </md-switch>
                  </div>
                  <div ng-if="!baliLoading" style="margin-left: 20px;">
                    <md-switch ng-model="baliLampStatus2" aria-label="Switch 2" 
                    ng-change="baliRelay2('devicebali','2')">
                        <b>Relay 2</b> 
                    </md-switch>
                  </div>
               </div>
               <div class="col-md-10">
                  <div google-chart chart="BaliChart" style="height:100%; width:100%;" ng-if="!baliLoading"></div>
               </div>
            </div>
         </center>
         <hr>
         <center>
            <div ng-if="yogyaLoading" ladda="yogyaLoading"  data-spinner-size="60" data-spinner-color="#7b00e0" style="width: 132px;height: 132px;">
            </div>
            <div google-chart chart="YogyaChart" style="height:100%; width:100%;" ng-if="!yogyaLoading">
            </div>
        </br>
         <button class="btn btn-primary " ng-click="jogjaRelay1('devicejogja','1')" ng-if="!yogyaLoading">{{jogjaLampStatus1}}</button>
         <button class="btn btn-primary " ng-click="jogjaRelay2('devicejogja','2')" ng-if="!yogyaLoading">{{jogjaLampStatus2}}</button>
         </center>
         <hr>
         <center>
            <div ng-if="bandungLoading" ladda="bandungLoading"  data-spinner-size="60" data-spinner-color="#7b00e0" style="width: 132px;height: 132px;">
            </div>
            <div google-chart chart="BandungChart" style="height:100%; width:100%;" ng-if="!bandungLoading">
            </div>
            <br>
         <button class="btn btn-primary " ng-click="bandungRelay1('devicebandung','1')" ng-if="!bandungLoading">{{bandungLampStatus1}}</button>
         <button class="btn btn-primary " ng-click="bandungRelay2('devicebandung','2')" ng-if="!bandungLoading">{{bandungLampStatus2}}</button>
         </center>
      </div>
      <div>
      </div>
   </div>
</section>